<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/new.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                Berkeley Horse Project
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/about">
                    About
                </a>
                <a class="navbar-item" href="/contact">
                    Contact
                </a>   
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>
                                <!-- Conditional rendering of login/logout -->
                                {{#if userLoggedIn}}
                                <a href="/logout" id="logout">Logout</a>
                                {{else}}
                                <a href="/login">Login</a>
                                {{/if}}
                            </strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
       
    <a class="button is-primary" href="/card">
        Create Horse 🐴
    </a>
        {{{body}}}
    </main>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Bulma</strong> by Berkeley Racing Club

                </p>
            </div>
            {{currentYear}}
        </footer>
</body>

</html>