<div class="card">
    <div class="card-header">Login</div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email-login" placeholder="e.g. bobsmith@gmail.com"
                    required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password-login" placeholder="*******" required>
            </div>
            <button type="submit" class="btn btn-success login-form">Login</button>
        </form>
    </div>
</div>